@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.logo{
    height: 40px;
    width: 50px;
}
.banner-section{
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
  height: 100vh;
  background-size: cover;
}
.banner-info{
    text-align: center;
    margin-bottom: 10px;
}
.heading{
    color: white;
    font-family: roboto;
    font-size: 25px;
}
.information{
    color: white;
    font-family: roboto;
    font-size: 15px;
}
.button{
    height: 40px;
    width: 120px;
    background-color: chocolate;
    color: floralwhite;
    border-color: white;
    border-width: 2px;
    border-radius: 10px;
}



.wcu-background{
    background-color:white;
}
.wcu-heading{
    color: cornflowerblue;
    padding-left: 10px;
}
.wcu-info{
    color: darkslategrey;
    padding-left: 10px;
}
.wcu-card{
    text-align: center;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}
.wcu-card-heading{
    font-family: roboto;
    font-size: medium;
    color: black;
}


.menu-heading{
    color: cornflowerblue;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-card{
    border-radius: 10px;
    margin: 5px;
}
.card-img{
    border-radius: 15px;
}
.menu-title{
    color:brown;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-weight: 500;
}


.healthy-food-section {
    background-color: #f9fbfe;
  }
  .healthy-food-section-img {
    width: 270px;
  }
  .healthy-food-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .healthy-food-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }
  .custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
  }



  .delivery-and-payment-section {
    background-color: white;
    padding: 5px;
    margin-top: 15px;
  }
  .delivery-and-payment-section-img {
    width: 270px;
  }
  .delivery-and-payment-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .delivery-and-payment-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }
  .payment-card-img {
    width: 50px;
    height: 50px;
    margin-right: 28px;
  }
  .custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
  }



  .thanking-customers-section {
    background-color: #d0b2001a;
  }
  .thanking-customers-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .thanking-customers-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }
  .thanking-customers-section-img {
      width: 270px;
      margin-bottom: 20px;
    }
    .custom-button {
      color: white;
      background-color: #d0b200;
      width: 130px;
      height: 45px;
      border-width: 0;
      border-radius: 8px;
      margin-right: 10px;
    } 
    
    .follow-us-section-heading {
        font-family: "Roboto";
        font-weight: 700;
        font-size: 28px;
        color: #183b56;
        text-align: center;
        margin: 15px;
      }
      .follow-us-icon-container {
        background-color: #faf7e8;
        width: 80px;
        height: 80px;
        border-radius: 40px;
        margin: 15px;
        padding-top: 22px;
        padding-bottom: 14px;
        padding-right: 16px;
        padding-left: 22px;
      }
      .icon {
        color: #d0b200;
        font-size: 35px;
      }
    
      .footer-section {
        background-color: #0d2436;
      }
      .footer-section-mail-id {
        color: #959ead;
        font-family: "Roboto";
        font-weight: bold;
        font-size: 16px;
        margin-top: 20px;
      }
      .footer-section-address {
        color: #959ead;
        font-family: "Roboto";
        font-size: 14px;
      }